* {
  margin: 0;
  padding: 0;
  background-color: #ecf0f3;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.calculator {
  box-shadow: inset 5px 5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, 0.16);
  padding: 30px;
  border-radius: 20px;
  width: 300px;
}
.footer {
  margin-top: 50px;
  font-size: 40px;
  width: 350px;
}
marquee {
  border-radius: 50%;
}
